@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
  background-color: #fafafa;
  overflow-x: hidden !important;
  font-family: Poppins !important;
}

.slick-prev , .slick-next{
  background-color: #55A7A6 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  padding: 5px !important;
  
}

.shadow_dropdown{
  box-shadow: 0px 10px 30px 0px #0000001A;
}

.job_app_card{
  box-shadow: 10px 20px 50px 0px #0000001A;
}

.side-card{
  box-shadow: 10px 20px 50px 0px #0000001A;

}

.form_box_shadow{
  box-shadow: 0px 10px 50px 0px #0000001A;

}

.create_acc_card{
  box-shadow: 10px 20px 30px 0px #55A7A626;
  border-color: #55A7A6 !important;

}

.card-boxshadow{
  box-shadow: 10px 20px 50px 0px #0000001A !important;

}

.partner_card{
  box-shadow: 10.389610290527344px 15.584415435791016px 51.94805145263672px 0px #4242421a;
}
.common-header{
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px
}

@layer utilities {
  .text-heading {
    @apply text-[16px] md:text-3xl font-bold text-[#1B4C81]; /* Example styles for headings */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



